@import './modules/hover.scss';
@import './modules/_navbar.scss';
@import './modules/_lightbox.scss';
@import './mediaQueries/_home.scss';
@import './modules/_container.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    // background-color: lightgrey;
}

.activePop{
    transform: scale(1);
}

.activeOverlay{
    background: lightgrey;
    pointer-events: all;
}

.user-section{
    justify-self: center;
    align-self: center;
}

.user-section img{
    width: 450px;
    height: auto;
    margin-left: 15px;
    border-radius: 5%;

    border: 3px solid darkslategrey;
}

.title{
    justify-self: end;
    align-self: center;
}

.title p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    // padding-left: 30px;

    // padding-right: 150px;
    color: darkslategrey;
}

.hideContent{
    display: none;
}

.show-data{
    display: flex;
}

.hide-title{
    display:none;
}